.button {
	@extend %transition-global;
	border-radius: 5px;
	display: inline-block;
	font-weight: $font-weight-sb;
	padding: 11px 21px;
	vertical-align: middle;
	&.button-primary {
		border: 1px solid $primary-color;
		background-color: $primary-color;
		color: $white;
		&:hover {
			border: 1px solid $secondary-color;
			background-color: $secondary-color;
			color: $white;
		}
	}

	&.button-secondary {
		border: 1px solid $secondary-color;
		background-color: $secondary-color;
		color: $white;
		&:hover {
			border-color: $primary-color;
			background-color: $primary-color;
			color: $white;
		}
	}

	&.button-tertiary {
		background-color: $tertiary-color;
	}

	&.button-arrow {
		i {
			font-size: $font-size-xsmall + 1;
			margin-left: 8px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}