.button {
	font-weight: $font-weight-sb;
	@extend %transition-global;
	padding: 8px 25px;
	border-radius: 5px;
	&.button-primary {
		background-color: $primary-color;
	}

	&.button-secondary {
		border: 1px solid $secondary-color;
		background-color: $secondary-color;
		color: $white;
		&:hover {
			background-color: $white;
			color: $secondary-color;
		}
	}

	&.button-tertiary {
		background-color: $tertiary-color;
	}

	&.button-arrow {
		i {
			font-size: $font-size-xsmall;
			margin-left: 4px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}