.page-loader-wrapper {
    background: $white;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999999;
}
.page-loader {
    // animation: animate 6s linear infinite;
    background-color: transparent;
    // background-image: url('../assets/images/magic-walls-NS-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 330px;
    left: 0;
    margin: auto;
    overflow: hidden;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 330px;
    z-index: 999;

    @include max-mq($ip - 20) {
        padding: 2px;
    }
}

// @keyframes animate {
//     0% {
//         transform: scale(0.45);
//     }
//     50% {
//         transform: scale(1.35);
//     }
//     100% {
//         transform: scale(0.45);
//     }
// }
