.nav-links {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;

  .page-numbers {
    border: 1px solid $primary-color;
    color: $primary-color;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
    min-width: 35px;
    transition: .2s;

    &:hover,
    &.current {
      background-color: $primary-color;
      color: #fff;
    }

    &.prev,
    &.next {
      background-color: transparent;
      border: none;
      color: $primary-color;
      height: auto;
      width: auto;
      font-size: $font-size-xlarge;
    }
  }
}