.hero-section-small-image-wrap {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    display: flex;
    height: 310px;
    justify-content: center;
    position: relative;
    @include min-mq ($mac_l + 100) {
        min-height: 340px;
        height: 33vh;
    }
    &:after {
        @extend %after-full;
        background-color: rgba($color: $primary-color, $alpha: 0.4);
    }
    .main-hero-title {
        font-size: $font-size-h1 + 7;
    }
    .main-hero-description {
        font-size: $font-size-large;
    }
    > div {
        position: relative;
        z-index: 1;
    }
}