.products-slider-section {
    .title-label {
        color: $secondary-color;
        font-size: $font-size-small;
        font-weight: $font-weight-sb;
        a {
            color: $secondary-color;
            @extend %transition-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .entry-header {
        .entry-title {
            font-size: $font-size-h1-large;
            @include max-mq ($mac) {
                font-size: $font-size-h1-large - 6;
                margin-bottom: 0.25em;
                margin-top: 0.25em;
            }
            @include max-mq ($mac) {
                font-size: $font-size-h1-large - 10;
            }
            @include max-mq ($ipad) {
                font-size: $font-size-h1-large - 14;
            }
            @include max-mq ($mb_p) {
                font-size: $font-size-h1;
            }
            @include max-mq ($mb) {
                font-size: $font-size-h1 - 5;
            }
            @include max-mq ($ip - 20) {
                font-size: $font-size-h1 - 8;
            }
            @include max-mq ($xs) {
                font-size: $font-size-h1 - 11;
            }
        }
    }
    .products-title {
        a {
            @extend %transition-color;
        }
    }
    .products-product-read-more {
        margin-top: 25px;
    }
}

.product-hero-image-section {
    order: 1;
    padding: 0;
    @include max-mq ($sm) {
        order: 0;
    }
}
.product-hero-text-description-section {
    align-self: center;
    order: 0;
    @include max-mq ($mac) {
        padding-bottom: 80px
    }
    @include max-mq ($tab) {
        align-self: flex-start;
    }
    @include max-mq ($sm) {
        padding-bottom: 25px;
        padding-top: 25px;
        order: 1;
    }
    .products-heading-excerpt-wrap {
        @extend %left-calc;
        @include max-mq ($sm) {
            padding-left: 0;
        }
    }
    .products-description {
        max-width: 80%;
        width: 100%;
        @include min-mq ($mac) {
            max-width: 67%;
        }
        @include max-mq ($mac) {
            margin-top: 0.2em;
        }
        p {
            margin-bottom: 1.7em;
            @include max-mq ($mac) {
                margin-bottom: 0.7em;
                margin-top: 0.4em;
            }
            &:last-of-type {
                margin-bottom: 1.25em;
                @include max-mq ($mac) {
                    margin-bottom: 0.7em;
                }
            }
        }
    }
}
.products-featured-img-wrap {
    // height: 91.5vh;
    height: 83vh;
    min-height: 750px;
    max-height: 950px;
    width: 100%;
    @include max-mq ($ls) {
        height: 85vh;
        min-height: 650px;
    }
    @include max-mq ($sm) {
        height: auto;
        min-height: 550px;
    }
    @include max-mq ($mb_p) {
        min-height: 400px;
    }
}
.products-featured-img-wrap,
.products-featured-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products-slider-item {
    .slick-slider-dots {
        display: none;
    }
}


