.hero-section-small-image-wrap {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    display: flex;
    min-height: 310px;
    justify-content: center;
    position: relative;
    @include min-mq ($mac_l + 100) {
        min-height: 340px;
        height: 33vh;
    }
    @include max-mq ($ip) {
        min-height: 250px;
    }
    &:after {
        @extend %after-full;
        background-color: rgba($color: $primary-color, $alpha: 0.4);
    }
    .main-hero-title {
        font-size: $font-size-h1 + 7;
        margin: 0.2em 0;
        @include max-mq ($tab) {
            font-size: $font-size-h1 + 2;
        }
        @include max-mq ($mb) {
            font-size: $font-size-h1 - 1;
        }
        @include max-mq ($ip) {
            font-size: $font-size-h1 - 3;
        }
    }
    .main-hero-description {
        font-size: $font-size-large + 1;
        // font-weight: $font-weight-b;
        letter-spacing: 0.2px;
    }
    > div {
        position: relative;
        z-index: 1;
    }
}