.products-slider-section {
    .title-label {
        color: $secondary-color;
        font-size: $font-size-small;
        font-weight: $font-weight-sb;
        a {
            color: $secondary-color;
            @extend %transition-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .entry-header {
        .entry-title {
            font-size: $font-size-h1-large;
        }
    }
    .products-title {
        a {
            @extend %transition-color;
        }
    }
    .products-product-read-more {
        margin-top: 25px;
    }
}

.product-hero-image-section {
    order: 1;
    padding: 0;
}
.product-hero-text-description-section {
    align-self: center;
    order: 0;
    .products-heading-excerpt-wrap {
        @extend %left-calc;
    }
    .products-description {
        max-width: 80%;
        width: 100%;
        @include min-mq ($mac) {
            max-width: 67%;
        }
        p {
            margin-bottom: 1.7em;
            &:last-of-type {
                margin-bottom: 1.25em;
            }
        }
    }
}
.products-featured-img-wrap {
    min-height: 750px;
    width: 100%;
    height: 91.5vh;
}
.products-featured-img-wrap,
.products-featured-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products-slider-item {
    .slick-slider-dots {
        display: none;
    }
}


