.products-slider-section {
    .title-label {
        color: $secondary-color;
        font-size: $font-size-small;
        font-weight: $font-weight-sb;
        a {
            color: $secondary-color;
            @extend %transition-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .products-title {
        a {
            @extend %transition-color;
        }
    }
    .products-product-read-more {
        margin-top: 35px;
    }
}

.product-hero-image-section {
    order: 1;
    padding: 0;
}
.product-hero-text-description-section {
    order: 0;
    .products-heading-excerpt-wrap {
        @extend %left-calc;
    }

}
.products-featured-img-wrap {
    min-height: 750px;
    width: 100%;
    height: 90vh;
}
.products-featured-img-wrap,
.products-featured-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products-slider-item {
    .slick-slider-dots {
        display: none;
    }
}


