
.latest-posts-section {
    padding-bottom: 80px;
    padding-top: 80px;
    @include max-mq ($ls) {
        padding-bottom: 50px;
        padding-top: 40px;
    }
}
.latest-posts-item-link {
    @extend %transition-color;
    &:hover {
        .link {
            color: $secondary-color;
        }
    }
}

.all-blog-posts-items {
    padding-bottom: 15px;
    padding-top: 15px;
    .latest-posts-item {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.latest-posts-item {
    @include max-mq ($sm) {
        padding-bottom: 25px;
    }
    .latest-posts-item-featured-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 312px;
    }
    .latest-posts-main-content-wrapper {
        padding-top: 19px;
    }
    .latest-posts-item-title {
        font-size: $font-size-large;
        font-weight: $font-weight-sb;
    }
}
