.newsletter-section {
    background-color: $primary-color;
    padding-bottom: 45px;
    padding-top: 50px;
    position: relative;
    @include max-mq ($ipad - 10) {
        padding-bottom: 65px;
        padding-top: 40px;
    }
    .title-header {
        h1, h2, h3 {
            color: $white;
            font-size: $font-size-h2 - 5;
            @include max-mq ($mb) {
                font-size: $font-size-h2 - 9;
            }
        }
    }
}

.newsletter-row {
    align-items: center;
    color: $white;
    > div {
        padding-bottom: 20px;
        padding-top: 15px;
        @include max-mq ($ipad - 10) {
            flex: 0 0 100%;
            max-width: 100%;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    .newsletter-heading {
        .title-header {
            width: 100%;
            line-height: 1.2;
            @include max-mq ($ipad - 10) {
                text-align: center;
            }
        }
    }
    input {
        color: $primary-color;
        &[type="email"] {
            padding: 14px 10px;
            max-width: 64.5%;
            width: 100%;
            @include max-mq ($ipad - 10) {
                max-width: 80%;
            }
            @include max-mq ($mb) {
                max-width: 71%;
            }
            @include max-mq ($ip - 10) {
                max-width: 60%;
            }
        }
        
    }
    .checkbox-label {
        position: relative;
        display: block;
        font-size: $font-size-small;
        padding-top: 5px;
        cursor: pointer;
        span {
            background-color: transparent;
            border: 1px solid $white;
            display: block;
            height: 14px;
            left: 0;
            position: absolute;
            width: 15px;
            border-radius: 2px;
            top: 8px;
            @extend %transition-global;
        }
        input[type="checkbox"] {
            opacity: 0;
            margin-right: 5px;
            cursor: pointer;
            &:checked {
                + span {
                    background-color: $secondary-color;
                }
            }
        }
    }
    .button {
        margin-left: -10px;
        padding: 14px 10px;
        position: relative;
        z-index: 9;
        &:hover {
            border-color: $secondary-color;
        }
    }
    a {
        color: $white;
        @extend %transition-color;
        &:hover {
            color: $secondary-color;
        }
    }
    .newsletter-cta {
        .mc4wp-form {
            padding-left: 86px;
            padding-right: 48px;
            @include max-mq ($ipad - 10) {
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
                padding-left: 15px;
                padding-right: 15px;
            }
            @include max-mq ($mb) {
                max-width: 390px;
            }
            @include max-mq ($ip - 10) {
                max-width: 300px;
            }
            a {
                text-decoration: underline;
            }
        }
        .mc4wp-response {
            padding-top: 15px;
            text-decoration: underline;
        }
        
    }
}
