.most-popular-products-section {
    background-color: $tertiary-color;
    padding-bottom: 75px;
    padding-top: 75px;
    position: relative;
    @include max-mq ($ls) {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    @include max-mq ($mb_p) {
        padding-bottom: 35px;
        padding-top: 35px;
    }
    &:after {
        @extend %after-full;
        background-color: $white;
        height: 50%;
        right: auto;
        max-width: 50%;
        top: auto;
    }
    
}
.products-item-card {
    .product-title {
        font-size: $font-size-large;
        font-weight: $font-weight-sb;
    }
    .most-popular-products-link {
        @extend %transition-color;
        &:hover {
            .link {
                &.link-white {
                    color: $secondary-color;
                }
            }
        }
    }
}

.most-popular-products-section-wrapper {
    @extend %left-calc;
    position: relative;
    z-index: 1;
    @include max-mq ($mb_p) {
        padding-left: 0;
    }
}
.most-popular-products-slider {
    padding-right: 0;
    .slick-slide {
        opacity: 0.5;
        width: 389px;
        @include max-mq ($mac_l) {
            width: 359px;
        }
        @include max-mq ($mac) {
            width: 329px;
        }
        @include max-mq ($ip - 20) {
            width: 309px;
        }
        @include max-mq ($xs) {
            width: 280px;
        }
        &.slick-active {
            opacity: 1;
        }
    }
    .slick-arrow {
        align-items: center;
        background-color: $primary-color;
        border-radius: 50%;
        border: 1px solid $primary-color;
        bottom: 0;
        color: $white;
        display: flex;
        height: 35px;
        justify-content: center;
        margin: auto;
        padding: 0;
        top: 0;
        width: 35px;
        z-index: 2;
        @extend %transition-global;
        &:hover {
            background-color: $secondary-color;
        }
        i {
            display: block;
            position: relative;
            &:before {
                display: block;
            }
        }
        &.slick-next {
            right: 150px;
            @include max-mq ($tab) {
                right: 45px;
            }
            i {
                right: -1px;
            }
        }
        &.slick-prev {
            left: 50px;
            i {
                left: -1px;
            }
        }
    }
}

.most-popular-products-items {
    padding-top: 67px;
    @include max-mq ($ls) {
        padding-top: 35px;
    }
    @include max-mq ($mb_p) {
        padding-top: 15px;
    }
    .most-popular-products-excerpt {
        margin-top: 0;
        p {
            margin-bottom: 0.9em;

        }
    }
}

.all-products-section {
    .single-projekat & {
        @include max-mq ($sm) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .item-wrapper {
        @include min-max-mq($sm, $ipad) {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 30px;
        }
        @include max-mq ($sm) {
            margin-bottom: 20px;
        }
        .single-projekat & {
            @include min-max-mq($tab, $mac + 100) {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 30px;
            }
            @include max-mq ($tab) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
   }
}


.most-popular-products-item {
    padding-right: 30px;
    .all-products-section & {
        padding-right: 0;
    }
    .most-popular-products-featured-img {
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        height: 310px;
        position: relative;
        &:after {
            @extend %after-gradient;
            opacity: 0.9;
        }
        .link {
            position: absolute;
            bottom: 19px;
            left: 19px;
            z-index: 1;
        }
    }
    a {
        color: $primary-color;
        &:hover {
            color: $secondary-color;
            .most-popular-products-featured-img {
                transform: scale(1.05);
            }
        }
    }
    .product-featured-image-wrapper {
        overflow: hidden;
        .most-popular-products-featured-img {
            transform: scale(1);
            transition: all .5s;
        }
    }
}

.see-all-products-button-wrapper {
    padding-bottom: 3px;
    padding-top: 45px;
    @extend %right-calc;
}