.site-header-inner {
  background-color: $tertiary-color;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  @include max-mq ($xs) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-header-details {
    align-items: center;
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .contact-details {
    align-items: center;
    display: flex;
    font-size: $font-size-small;
    flex-wrap: wrap;
    @include min-mq ($mac) {
      font-size: $font-size-small + 1;
    }
    @include max-mq ($ip - 20) {
      font-size: $font-size-small - 1;
    }
    @include max-mq ($xs) {
      font-size: $font-size-small - 2;
    }
    .contact-details-item {
      margin-right: 15px;
      padding-right: 15px;
      position: relative;
      @include max-mq ($sm) {
        margin-right: 0;
        padding-right: 0;
      }
      &:after {
        @extend %after-full;
        width: 2px;
        left: auto;
        background-color: $primary-color;
        @include max-mq ($sm) {
          display: none;
          content: none;
        }
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        @include max-mq ($sm) {
          display: none;
          content: none;
        }
        &:after {
          content: none;
          display: none;
        }
      }
      p {
        margin: 0;
      }
      .icon {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .contact-details-phone-email-wrapper {
      align-items: center;
      display: flex;
    }
    .contact-details-title {
      font-weight: $font-weight-sb;
      padding-bottom: 3px;
      padding-left: 3px;
    }
    .contact-details-phone {
      margin-right: 10px;
      @include max-mq ($ip - 20) {
        margin-right: 3px;
      }
    }
  }
  a {
    text-decoration: underline;
    @extend %transition-color;
  }
}

.logo-menu-wrapper {
  padding-bottom: 15px;
  padding-top: 15px;
  @include max-mq ($mac_l) {
    padding-left: 20px;
    padding-right: 30px;
  }
}

.main-logo-nav-wrapper {
  align-items: center;
}

.site-branding {
  max-width: 184px;
  font-size: 0.5625em;
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
  @include max-mq ($mb) {
    max-width: 155px;
  }
  @include max-mq ($xs) {
    max-width: 150px;
  }
}

.social-icons-wrapper {
  @include max-mq ($md) {
    display: none;
  }
  @include max-mq ($sm) {
    display: block;
  }
  @include max-mq ($mb) {
    display: none;
  }
}