.archive-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    .cl-layout-container,
    .page-children-section {
        width: 100%;
    }
    .our-potfolio-projects-item {
        flex: 0 0 33.33333334%;
        max-width: 33.33333334%;
        padding: 0 10px 20px;
        &:hover {
            .title-label {
                background-color: $primary-color;
            }
        }
        .our-potfolio-projects-link {
            min-height: 420px;
        }
        .title-label {
            background-color: $secondary-color;
            color: $white;
            float: right;
            padding: 3px 5px;
            @extend %transition-global;
        }
    }
    
}
.search-filter-results {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    color: transparent;
    width: 100%;
    hr {
        display: none;
    }
    .pagination {
        flex: 0 0 100%;
        max-width: 100%;
    }
    a {
        @extend %transition-color;
    }
    > div {
        flex: 0 0 33.3333334%;
        max-width: 33.3333334%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: $font-size-base;
        color: $primary-color;
        > h2 {
            margin: 0.2em 0;
            font-size: $font-size-large;
        }
        > p {
            &:first-of-type {
                display: none;
            }
        }
    }
}