.archive-sidebar-wrapper {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 46px 0px rgba($color: $primary-color, $alpha: 0.16);
    max-width: 100%;
    padding: 30px;
    z-index: 1;
    margin-bottom: 35px;
    @include max-mq ($lg) {
        padding: 10px 20px;
    }
    @include min-max-mq($md, $ipad) {
        padding-left: 0;
        padding-right: 0;
    }
    @include max-mq ($md) {
        flex: 0 0 100%;
        max-width: 100%;
    }
    form.searchandfilter {
        @include max-mq ($md) {
            display: none;
        }
    }
}
.archive-filter-content {
    text-align: center;
    display: none;
    @include max-mq ($md) {
        display: block;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 7px;
    }
}


.content-area {
    .searchandfilter {
        h4 {
            font-size: $font-size-h3 + 2;
            margin-bottom: 0.75em;
            @include max-mq ($lg) {
                font-size: $font-size-h3 - 1;
            }
        }
        ul,
        .children {
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                padding-left: 0;
                &:after {
                    content: none;
                    display: none;
                }
            }
        }
        .children {
            margin-left: 30px;
        }
        [class^="sf-level"] {
            align-items: center;
            border: none;
            color: $primary-color;
            display: flex;
            flex-wrap: wrap;
            font-weight: 500;
            padding: 0;
            position: relative;
            width: 100%;
            label {
                padding-left: 26px !important;
                width: 100%;
                padding-bottom: 15px !important;
                cursor: pointer;
                display: flex;
                @extend %transition-global;
                &:before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    bottom: auto;
                    left: 0;
                    margin: auto;
                    width: 15px;
                    height: 15px;
                    border: 1px solid $gray;
                    border-radius: 4px;
                    cursor: pointer;
                    -webkit-transition: .5s;
                    transition: .5s;
                }
            }
            input {
                opacity: 0;
                position: absolute;
                visibility: hidden;
                padding: 40px;
                &:checked {
                    + label {
                        &:after {
                            content: "";
                            font-family: "font-icons";
                            font-style: normal;
                            font-variant: normal;
                            font-weight: normal;
                            text-decoration: none;
                            text-transform: none;
                            position: absolute;
                            color: $secondary-color;
                            font-size: $font-size-large;
                            width: 15px;
                            height: 12px;
                            top: 1px;
                            bottom: auto;
                            margin: auto;
                            left: 2px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
