.single-post-content-wrapper {
    a {
        color: $secondary-color;
        @extend %transition-color;
        &:hover {
            color: $primary-color;
        }
    }
}
.single-post-main-image-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin-top: 35px;
    .single-projekat & {
        margin-top: 0;
    }
}

.single-page-content-area {
    @include max-mq ($ls) {
        padding-left: 0;
        padding-right: 0;
    }
}