.single-post-main-image-inner {
    width: 100%;
}
.single-project-hero-wrapper {
    .main-hero-description {
        max-width: 850px;
    }
}
.single-project-logo-description-wrapper {
    border-bottom: 5px solid $secondary-color;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 60px;
    @include max-mq ($ls) {
        padding-top: 40px;
        margin-bottom: 20px;
    }
    .single-project-logo {
        @include min-max-mq($sm, $ipad) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .single-project-short-content-description {
        @include min-max-mq($sm, $ipad) {
            flex: 0 0 80%;
            max-width: 80%;
        }
        @include max-mq ($sm) {
            padding-top: 15px;
        }
        @include max-mq ($ip) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .single-project-logo-inner {
        max-width: 280px;
        @include max-mq ($sm) {
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.project-gallery-wrapper {
    padding-bottom: 70px;
    padding-top: 30px;
    @include max-mq ($mac) {
        padding-bottom: 30px;
    }
    .project-title {
        padding-bottom: 35px;
    }
    > div {
        @include max-mq ($sm) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.project-gallery-slider {
    padding-top: 60px;
    .slider__counter__project {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        font-size: $font-size-xlarge + 6;
        font-weight: $font-weight-b;
        z-index: 1;
        span:last-child {
            opacity: 0.49;
        }
    }
    .slick-arrow {
        bottom: auto;
        top: 0;
        z-index: 2;
        i {
            &::before {
                font-size: $font-size-xlarge + 20;
                line-height: 0.8;
            }
        }
        &.slick-prev {
            left: calc(32vw);
        }
        &.slick-next {
            right: calc(32vw);
        }
    }
    .slick-slide {
        transform: scale(0.9);
        // @include max-mq ($lg) {
        //     transform: scale(0.91);
        // }
        &.slick-current {
            transform: scale(1);
            @extend %transition-global;
            .project-gallery-slider-item-image {
                box-shadow: 0 32px 40px -25px $primary-color;
            }
        }
    }
    .slick-dots {
        text-align: center;
    }
}

.project-gallery-slider-item {
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
    @include max-mq ($lg) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @include max-mq ($md) {
        padding-left: 5px;
        padding-right: 5px;
    }
    @include max-mq ($mb) {
        padding-left: 2px;
        padding-right: 2px;
    }
}
.project-gallery-slider-item-image {
    height: 600px;
    width: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    @include max-mq ($lg) {
        height: 500px;
        width: 650px;
    }
    @include max-mq ($md) {
        height: 450px;
        width: 550px;
    }
    @include max-mq ($mb_p) {
        height: 380px;
        width: 430px;
    }
    @include max-mq ($mb) {
        height: 285px;
        width: 320px;
    }
    @include max-mq ($ip - 20) {
        height: 230px;
        width: 270px;
    }
}
