.entry-header {
    .title-label {
        color: $secondary-color;
        display: block;
        font-weight: $font-weight-sb;
        font-size: $font-size-small;
        margin-bottom: 0.9em;
    }
    .entry-title {
        font-size: $font-size-h1;
        margin-bottom: 0.5em;
        margin-top: 0.2em;
        line-height: 1.1;
        @include max-mq ($sm) {
            font-size: $font-size-h1 - 5;
        }
        @include max-mq ($mb) {
            font-size: $font-size-h1 - 10;
        }
    }
}
.entry-content {
    line-height: 1.5;
    
}

.content-area {
    width: 100%;
    ul:not(.slick-dots) {
        list-style: none;
        padding-left: 0;
        li {
            padding-bottom: 5px;
            padding-left: 25px;
            position: relative;
            &:after {
                content: "";
                font-family: "font-icons";
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                text-decoration: none;
                text-transform: none;
                position: absolute;
                color: $secondary-color;
                font-size: $font-size-large;
                width: 15px;
                height: 12px;
                top: 0;
                bottom: auto;
                margin: auto;
                left: 0;
                cursor: pointer;
            }
        }
    }
    
}

.right-calc {
    @extend %right-calc;
}

::selection {
    color: $white;
    background: $secondary-color;
}