.site-footer {
    background-color: $tertiary-color;
    border-top: 1px solid $primary-color;
    font-size: $font-size-small;
    padding-top: 50px;
    .widget-wrapper {
        padding-bottom: 20px;
    }
    a {
        text-decoration: underline;
    }
    .sub-menu {
        display: none;
    }
    .menu-item {
        padding-bottom: 8px;
        a {
            text-decoration: none;
        }
    }
    .widget-title {
        font-size: $font-size-large;
        font-weight: $font-weight-sb;
    }
    .footer-column-1 {
        font-size: $font-size-base;
        flex: 0 0 43%;
        max-width: 43%;
        @include max-mq ($sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .widget_text {
            @include min-mq ($ls) {
                padding-right: 30px;
            }
        }
    }
    .footer-column-2 {
        flex: 0 0 15%;
        max-width: 15%;
        @include max-mq ($sm) {
            flex: 0 0 33.333334%;
            max-width: 33.333334%;
        }
        @include max-mq ($mb) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .footer-column-3 {
        flex: 0 0 21%;
        max-width: 21%;
        @include max-mq ($sm) {
            flex: 0 0 33.333334%;
            max-width: 33.333334%;
        }
        @include max-mq ($mb) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .footer-column-4 {
        flex: 0 0 21%;
        max-width: 21%;
        @include max-mq ($sm) {
            flex: 0 0 33.333334%;
            max-width: 33.333334%;
        }
        @include max-mq ($mb) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    aside {
        padding-bottom: 15px;
        @include max-mq ($mb) {
            padding-bottom: 3px;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    a {
        @extend %transition-color;
        // &:hover {}
    }
    .current-menu-item {
        > a {
            color: $secondary-color;
        }
    }
}
.site-info {
    border-top: 1px solid $primary-color;
    padding-bottom: 8px;
    padding-top: 10px;
}

.privacy-policy-menu {
    text-align: right;
    .menu-item {
        a {
            text-decoration: underline;
        }
    }
    
}